<!DOCTYPE HTML>
<meta charset="UTF-8">

<html lang="en" ng-app='theApp'>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title></title>
  <script src="/static/js/epiclient.js"></script>
  <script src="/static/js/angular.min.js"></script>
  <script type="text/javascript">
    function show(message){
      console.log(message);
      var container = document.createElement('p');
      if (typeof(message) === 'object'){
        message = JSON.stringify(message);
      }
      container.innerHTML = message;
      output = document.getElementById('queryOutput');
      output.appendChild(container);
    }
    var client = new EpiClient("ws://localhost:8080/sockjs/websocket")
    client.on('row', function(r) { show(r); });
    client.on('close', show);
    client.on('beginquery', show);
    client.on('endquery', show);
    client.on('beginResultSet', show);

    angular.module('theApp', []).controller(
      'QueryController',
      function($http, $scope){
        $http({method:'GET', url:'/diagnostic'}).
          success(function(data, status, headers, config){
            diagInfo = data;
            $scope.connectionNames = data.connections;
            $scope.connections = data.connections;
            $scope.connection = data.connections[0];
          }).
          error(function(data, status, headers, config){
            show("there was an error connection to diagnostic, " + data);
          });
        $scope.template = "/test/servername";
        $scope.data = "{}";
        $scope.runQuery = function(){
          document.getElementById('queryOutput').innerHTML = "";
          client.query($scope.connection, $scope.template, $scope.data);
        };
      });
  </script>
</head>
<body>
  <div id="connections" ng-controller="QueryController">
    <h4>Available Connections</h4>
    <ul>
      <li ng-repeat="name in connectionNames"> {{name}} </li>
    </ul>
    <label for="connection">Connection</label><input id="connection" type="text" ng-model="connection"/>
    <p>
    <label for="template">Template</label><input id="template" type="text" ng-model="template"/>
    <p>
    <label for="data">Data</label><TextArea id="data" ng-model="data"></TextArea>
    <button ng-click="runQuery()">Run Query</button>
  </div>

  <div id="queryOutput">
  </div>

</body>
</html>
