<!DOCTYPE HTML>
<meta charset="UTF-8">

<html lang="en" ng-app='theApp'>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title></title>
  <script type="text/javascript">
    function MakeWebSocketReconnecting(){
      var OriginalWebSocket = WebSocket;
      function ReconnectingWebSocket(url, protocols){

        // WS Event Methods
        this.onopen    = function () {};
        this.onerror   = function () {};
        this.onclose   = function () {};
        this.onmessage = function () {};

        var _underlyingWs        = null;
        var _reconnectOnClose    = true;
        var _reconnectAttempts   = 0;

        Object.defineProperty( this, 'url',
          { get: function(){ return _underlyingWs.url; }}
        );
        Object.defineProperty( this, 'readyState',
          { get: function(){ return _underlyingWs.readyState; }}
        );
        Object.defineProperty( this, 'binaryType',
          { get: function(){ return _underlyingWs.binaryType; }}
        );
        Object.defineProperty( this, 'extensions',
          { get: function(){ return _underlyingWs.extensions; }}
        );
        Object.defineProperty( this, 'bufferedAmount',
          { get: function(){ return _underlyingWs.bufferedAmount; }}
        );

        function reconnect() {
          // exponential backoff on delay, capped at a wait of 1024 ms
          var delay = _reconnectAttempts++ > 9 ? 1024 : Math.pow(2, _reconnectAttempts);
          setTimeout(connect, delay);
        }

        function connect() {
          // an attempt to avoid get extraneous events
          if ( _underlyingWs != null ){
            _underlyingWs.onerror = null;
            _underlyingWs.onmessage = null;
            _underlyingWs.onclose = null;
            // we don't need to do anything with onopen because it wouldn't
            // fire again anyway, and shouldn't keep the socket from getting
            // GCd
          }
          newWs = new OriginalWebSocket(url, protocols || []);
          newWs.onopen  = function(evt){
            this.onopen(evt);
            _reconnectAttempts = 0; // reset
          }.bind(this); 

          // onclose, unless told to close by having our close() method called
          // we'll ignore the close, and reconnect
          newWs.onclose = function(evt){
            if (_reconnectOnClose){
              reconnect();
            } else {
              this.onclose(evt);
            }
          }.bind(this);

          newWs.onerror = function(evt) { this.onerror(evt); }.bind(this);

          newWs.onmessage = this.onmessage;
          _underlyingWs = newWs;
        };
        connect = connect.bind(this);


       this.send = function (data){
          // if the socket isn't open, we'll just reconnect and let the
          // caller try again
          if (_underlyingWs.readyState != OriginalWebSocket.OPEN){
            reconnect();
          } else {
            // otherwise we try to send, and if we have a failure
            // we'll go ahead and reconnect, telling our caller
            // all about how we failed via onsendfailed
            try {
              _underlyingWs.send(data);
            } catch (error) {
              reconnect();
            }
          }
        }.bind(this);

        this.close = function () {
          _reconnectOnClose = false;
          _underlyingWs.close();
        }.bind(this)

        setTimeout(connect, 0);
      }
      // WS Constants the the 'class' Level
      ReconnectingWebSocket.CONNECTING = OriginalWebSocket.CONNECTING;
      ReconnectingWebSocket.OPEN       = OriginalWebSocket.OPEN;
      ReconnectingWebSocket.CLOSING    = OriginalWebSocket.CLOSING;
      ReconnectingWebSocket.CLOSED     = OriginalWebSocket.CLOSED;

      WebSocket = ReconnectingWebSocket; 
      window.UnMakeWebSocketReconnecting = function(){
        WebSocket = OriginalWebSocket;
        UnMakeWebSocketReconnecting = null;
      }
    }
    MakeWebSocketReconnecting();
  </script>
  <script src="/static/js/angular.min.js"></script>
  <script type="text/javascript">
    function show(message){
      console.log(message);
      var container = document.createElement('p');
      if (typeof(message) === 'object'){
        message = JSON.stringify(message);
      }
      container.innerHTML = message;
      body = document.getElementsByTagName('body')[0];
      body.appendChild(container);
    }
    // this is only global for testing purposes
    // the significant change here (from v1) is that the client takes
    // an array of urls to connect to
    var ws = new WebSocket("ws://localhost:8080/sockjs/websocket");
    window.Ian = ws;
    var dataThatWasntSent = null;
    ws.onmessage = function (m) { show(m); }
    ws.onerror = function (e) { show("Error: " + e); console.log(e); }
    ws.onopen = function(e) {
      if ( dataThatWasntSent != null ){
        show("socket has opened with data: " + dataThatWasntSent);
        ws.send(dataThatWasntSent);
        dataThatWasntSent = null;
      } else {
        show("socket has opened");
      }
    };
    ws.onsendfailed = function (data) {
      dataThatWasntSent = data;
    };
    ws.onclose = function () { show("socket has closed"); } 

    angular.module('theApp', []).controller(
      'ConfigController',
      function($http, $scope){
        $scope.ws = ws;
        $scope.ping = function() { ws.send("ping"); };
        $scope.die = function() { ws.send("close"); };
      }
    );
  </script>
</head>
<body>
  <div ng-controller="ConfigController">
    <button ng-click="ping()">Send Ping</button>
    <button ng-click="die()">Die!</button>
  </div>
</body>
</html>
