<html>
<head>
  <title>Yo</title>
  <link rel='stylesheet' href='/stylesheets/style.css'></link>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script type="text/javascript" src="/static/client.js"></script>
  <script type="text/javascript">
    function QueryController($scope){
      $scope.client = new Client();
      $scope.rows = [];
      $scope.executeQuery = function () {
        $scope.client.request($scope.templateName);
      }
      $scope.client.addEventListener('queryBegin', function(e){
        $scope.lastTemplate = e.template;
        $scope.queryActive = true;
        $scope.$apply();
      });
      $scope.client.addEventListener('queryEnd', function(e){
        $scope.queryActive = false;
        $scope.$apply();
      });

      $scope.templateName = "/file/test/my_manifest";
      $scope.client.addEventListener('row', function(row) {
        $scope.rows.push(row);
      });
      $scope.client.addEventListener('queryEnd', function() {
        $scope.data = JSON.stringify($scope.rows);
        $scope.$apply();
      });
    }
  </script>
</head>
<body ng-app>
  <div ng-controller="QueryController">
  <button ng-click="executeQuery()" id="executeQuery">Execute Query!</button>
  <input type="text" id="templateName" ng-model="templateName"></input>
  <div id="lastTemplate">{{lastTemplate}}</div>
  <div ng-model="data"></div>
  </div>
</body>
</html>


