/*
executionMasks:
  a_valid_bitmask: 1
*/
SELECT
  Subscription_Id__c,
  Start_Date__c,
  Expiry_Date__c,
  IsUsageBased__c,
  Subscription_Revenue_Type__c,
  Subscription_Type__c
FROM Subscription__c
WHERE Id = 'a0AU0000019hqdGMAQ'
