/*
executionMasks:
  a_valid_bitmask: 1
*/
set ansi_warnings on
-- {{jic_context_thing}}
declare @pants table (name varchar(2))

insert into @pants ([name]) values ('something')

select * from @pants
